{% extends '../base.html' %}
{% block css %}
<style>

    .logout {
        padding: 8px 17px;
        width: 100%;
        background-color: #69d3e8;
        text-decoration: none;
        border-radius: 15px;
        color: #000;
        margin-top: 10px;
    }

</style>
{% endblock %}
{% block title %}Profile
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>Bienvenu, {{ user.email }}!</h2>
        <p>Votre role: {{ user.role }}</p>
        <p>Votre score: {{ user.score }}</p>
        <a class="logout" href="{% url 'logout' %}">Deconnecter</a>
    </div>
{% endblock %}